{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h2>Form test</h2>
        <div class="">
            {{ form(form) }}
            <p>Is submit and valide : {{ (submit) ? 'Yes' : 'No' }}</p>
        </div>
    </div>
{% endblock %}